.Explore a{
    text-decoration: none;
    color: black;
}
.Explore a:hover{
    text-decoration: underline;
}

.Explore ul li{
    list-style: none;
}

.Explore{
    color: rgb(129, 78, 78);
    padding: 10px 110px;
    font-size:x-small;
}
.Explore p{
    font-weight: bolder;

}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(224, 124, 124);
}

.pics {
    display: flex;
}

.pics img {
    width: 50px;
    height: 50px;
    padding: 0px 5px;
}

.support {
    padding-bottom: 37px;
}

.support1 {
    padding-bottom: 65px;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(42, 39, 39);
    color: rgb(36, 35, 35);
}


.dev{
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dev p{
    font-weight: bolder;
}

.dev ul li{
    list-style: none;

}

.dev2 {
    display: flex;
    
}

.dev2 p{
    padding: 0px 60px;
    font-weight: normal;
}